/node_modules
!/vendor/
/vendor/*
!/vendor/mint/
/.idea
/.vagrant
./composer.lock
/public/hot
/public/storage
composer.lock
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*lock.json
*.lock
